# Node.js
node_modules/
.env
npm-debug.log
yarn-error.log
yarn.lock
package-lock.json

# React
client/node_modules/
client/.env

# Server
server/node_modules/
server/.env

# IDE
.vscode/
*.swp
.DS_Store

# Build
dist/
build/
out/